.logo {
    height: 67px;
}

/* body>* {
    display: none !important;
} */

.menu{
    margin: 0 !important;  
}

.header {
    margin-top: 10px;
}


.show {
    display: default !important;
}

#search:focus, .search, #search {
    border-bottom: 1px solid #9e9e9e !important;
    /* padding-left: 2em !important; */
}

.search-wrapper i {
    color: #666 !important;
}

.cat-selector label {
    left: 0 !important;
}

.search-wrapper button i, .search-wrapper .btn i, .search-wrapper .btn-floating i {
    color: #fff !important;
}

.nav li {
    float: right;
    margin-left: 20px;
}

.nav-wrapper li a {
    display: inline-block;
}

*[inline-block] {
    display: inline-block;
}

.nav-wrapper li a i {
    margin-right: 5px;
}

.rad-50 {
    border-radius: 50px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header {
        margin-bottom: 20px;
    }

    .img-avatar {
        font-size: 1.5em !important;
        width: 60px !important;
        padding: 2px 10px !important;
    }

    .chat-side-panel {
        height: auto !important;
    }

    .users-list .chip {
        margin-right: 5px !important;
    }
}

.full {
    position: absolute;
    width: 100%;
    left: 0;
    margin-bottom: 10px;
}

.mt-1em {
    margin-top: 1em;
}
.mt-3em {
    margin-top: 3em;
}
.mt-2em {
    margin-top: 2em;
}
.mt-5em {
    margin-top: 5em;
}

.mb-1em {
    margin-bottom: 1em !important;
}

.mb-2em {
    margin-bottom: 2em !important;
}

.mb-3em {
    margin-bottom: 3em !important;
}

.loader {
    left: 50%;
    top: 50%;
    position: fixed; }

*[center] {
    text-align: center;
}

.cats-selector-wrapper .link {
    display: block;
}

.cat {
    cursor: pointer;
    display: table-column;
    padding-bottom: 30px !important;
   padding-top: 30px !important; 
    border-left: 1px solid #f8f8f8;
   border-top: 1px solid #f8f8f8;
}

.ads .card-title a {
    color: #666 !important;
}

.card-image .ad-img {
    height: 250px;
    /* background-attachment: fixed; */
    background-position: center ,36px;
    background-repeat: no-repeat;
    background-size: cover;
}

*[right] {
    text-align: right;
}

.slick-arrow:before {
    color: #5b2783 !important;
}

.img-showcase img {
    height: auto;
    cursor: pointer;
    margin: 10px;
}

.img-view img {
    height: auto;
    width: 100%;
}

.ad .title {
    margin-top: 24px;
}

.ad .info i {
    vertical-align: bottom;
}

.ad .desc {
    font-size: 19px;
}

.ad .category {
    text-transform: capitalize;
}

.ad .price {
    cursor: default;
    color: #5a5a5a;
    font-family: sans-serif;
    margin-top: 0;
}
.ad .msg-seller, .ad .delete {
    position: absolute;
}

.side-opts {
    float: right;
}

.side-opts a {
    color:silver !important;
    margin-right: 5px;
}

.sub-header-wrapper {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
    overflow: auto;
}

.cats-selector-wrapper {
    display: table;
    width: 100%;
}

.side-ads .ad {
    height: auto !important;
}

.no-right-pad {
    padding-right: 0 !important;
}

.no-left-pad {
    padding-left: 0 !important;
}

.no-pad {
    padding: 0 !important;
}

.img-avatar {
    border-radius: 100%;
    font-size: 2em;
    background-color: #9e9e9e;
    color: #fff;
    text-align:center;
    padding: 5px 0 !important;
    margin-left: 0 !important; 
    margin-right: 10px;
    width: 75px;
}

.avatar {
    border-radius: 100%;
    padding: 5px 0 !important;
    margin-left: 0 !important; 
    margin-right: 10px;
    width: 50px;
}

.avatar-wrapper {
    font-size: 1.5em;
    text-align: left;
}

.profile .info div {
    cursor: default;
}

i.left {
    margin-right: 5px !important;
}

.side-ad-info div {
    margin-right: 5px;
    display: inline-block;
}

.user-view .background {
    background-color: #666;
    background: -webkit-linear-gradient(top, #898181 0%,#989494 44%,#666 100%)
}

.chat-side-panel {
    height: 413px;
    overflow: auto;
}

.chat-header {
    border-bottom: 1px solid #26a69a;
}

.chat-body {
    height: 300px;
    padding: 20px 10px 10px 10px;
    overflow: auto;
}

.chat-footer {
    position: relative;
}

.active-user-thread .img-avatar, .users-list .img-avatar {
    border-radius: 100%;
    font-size: 1.4em;
    background-color: #9e9e9e;
    color: #fff;
    text-align: center;
    padding: 3px 11px !important;
    margin-left: 0 !important;
    margin-right: 5px;
}

.active-user-thread .img-avatar {
    background-color: #26a69a;
}

.active-user-thread .chip, .users-list .chip {
    padding-left: 0;
    margin: 0 0 10px 0;
    cursor: pointer;
}

.active-thread {

}

.msg-text {
    padding-right: 30px !important;
}

.send-btn {
    position: absolute;
    top: 5px;
    right: 0;
}

.active-user-thread {
    margin-bottom: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cac7c7;
}
.chat-body .sent {
    float: right;
    cursor: default;
    margin-bottom: 10px;
}
.chat-body .recieve {
    cursor: default;
    margin-bottom: 10px;
}
.chat-body .sent span {
    text-align: right;
    background-color: #e4e4e4;
    border-radius: 1em;
    display: block;
    padding: 4px 12px;
}

.chat-body .recieve span {
    background-color: #e4e4e4;
    border-radius: 1em;
    display: block;
    padding: 4px 12px;
}

.chat-body .recieve .time {
    text-align: right;
}
.chat-body .sent .time {
    text-align: right;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header {
        margin-bottom: 20px;
    }

    .img-avatar {
        font-size: 1.5em !important;
        width: 60px !important;
        padding: 2px 10px !important;
    }

    .chat-side-panel {
        height: auto !important;
    }

    .users-list .chip {
        margin-right: 5px !important;
    }
}
